<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bootic Docs</title>
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" /> 
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="/css/coderay.css" type="text/css" media="screen" charset="utf-8">
</head>
<body>
  <div id="wrapper">
    <div id="header">
      <div class="box">
        <h2 id="logo"><a href="/"><img src="/img/logo-bootic.png" alt="Bootic docs" /></a></h2>
      </div>
    </div>
    <div id="main" class="box clearfix">
      
      <div id="sidebar">
        <% if menu %>
        <div class="section">
          <h3><a href="/<%= params[:lang] %>">Index</a></h3>
          <ul class="nested_menu">
            <% menu.each do |page| %>
              <%= build_menu page %>
            <% end %>
          </ul>
        </div>
        <% end %>
      </div><!-- /sidebar -->
      
      <div id="content">
        <%= @content  %>
      </div><!-- /content -->
      
    </div><!-- /main -->
    
  </div><!-- /wrapper -->
  
  <div id="footer">
    &copy;Bootic <%= Time.now.year %>
  </div><!-- /footer -->
</body>
</html>