<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bootic Docs</title>
	<link rel="stylesheet" href="/css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
  <div id="wrapper">
    
    <%= @content  %>
  </div>
</body>
</html>