body, table, ul, ol, form, h1, h2, h3, h4, h5, h6 {padding: 0; margin: 0;}
body {
  font-family: helvetica, arial, verdana, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}
/* Sticky footer */
body, #wrapper {height: 100%;}
#wrapper {min-height: 100%;}
#main {
  overflow:auto;
	padding-bottom: 80px;
}  /* must be same height as the footer */
#footer {
  position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
}

code {
  background: #D6D6D6;
  text-shadow: 1px 1px 1px white;
  padding: 1px;
}
abbr {
  border-bottom: dashed silver 1px;
  cursor: help;
}
/* Header
----------------------------------*/
#logo {
  float: left;
}
#header {
  padding: 10px 0 0 0;
  background: url(i/body-pattern.png);
  margin-bottom: 20px;
  -webkit-box-shadow: 2px 0 4px rgba(0,0,0,1);
  -moz-box-shadow: 2px 0 4px rgba(0,0,0,1);
}

.box {
  width: 900px;
  text-align: left;
  margin: 0 auto;
}
/* nav
----------------------------------*/
#nav {
  float: right;
  list-style-type: none;
  margin: 40px 0 0 0;
}
#nav li {
  float: left;
  margin: 0 1em;
}
#nav a {
  color: #fff;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
  font-size: 16px;
}
#nav .current a {
  text-decoration: underline;
}
/* Content
----------------------------------*/
#content {
  float: left;
  width: 70%;
}
#content ul {
  margin-left: 1.5em;
}
#content h2 {
  margin: 20px 0;
}
#content h3 {
  margin: 0 0 14px 0;
}
.section {
  margin-bottom: 1.5em;
}
/* Sidebar (menus)
----------------------------------*/
#sidebar {
  float: right;
  width: 28%;
}
.nested_menu li ul {
  margin-left: 1em;
}
.nested_menu {margin-left: 1.5em;}

.nested_menu a.current {
  font-weight: bold;
  color: black;
}
/* tables
----------------------------------*/
.list {
  width: 100%;
}
.list th,
.list td {
  padding : .2em 1em;
  border-bottom: solid silver 1px;
}
/* images
----------------------------------*/
img.left {
  float: left;
  margin: 1em 1em 0 0;
}
img.right {
  float: right;
  margin: 1em 0 0 1em;
}
/* hacks */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}