body, table, ul, ol, form, h1, h2, h3, h4, h5, h6 {padding: 0; margin: 0;}

body {
	font-family: helvetica, arial, verdana, sans-serif;
	font-size: 14px;
	line-height: 1.4;
	text-align: center;
}
.hidden {display: none;}

/* Sticky footer */
body, #wrapper {
	height: 100%;
}

#wrapper {
	min-height: 100%;
}

#main {
	overflow:auto;
	padding-bottom: 80px;
}  /* must be same height as the footer */

#footer {
	position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
}

code {
	background: #D6D6D6;
	text-shadow: 1px 1px 1px white;
	padding: 1px;
}

abbr {
	border-bottom: dashed silver 1px;
	cursor: help;
}

a { outline:none; text-decoration: none; }
a:link      { color: #a00; }
a:visited   { color: #a00; }
a:active    { color: #ff0000; }
a:hover     { text-decoration: underline; }

.column {
	float:left;
}

.info_column {
	margin: 0 0 0 1em;
	width: 300px;
}

/* Tips, info boxes
----------------------------------*/
.tip {
  padding: 1em;
  background: #DDEB92;
  font-size: 15px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
/*  text-shadow: 1px 1px 1px white;*/
}
/* Header
----------------------------------*/

#logo {
	float: left;
}

#header {
	padding: 10px 0 0 0;
	background: url(i/body-pattern.png);
	margin-bottom: 20px;
	-webkit-box-shadow: 2px 0 4px rgba(0,0,0,1);
	-moz-box-shadow: 2px 0 4px rgba(0,0,0,1);
}

.box {
	width: 900px;
	text-align: left;
	margin: 0 auto;
}

/* nav
----------------------------------*/

#nav {
	float: right;
	list-style-type: none;
	margin: 40px 0 0 0;
}

#nav li {
	float: left;
	margin: 0 1em;
}

#nav a {
	color: #fff;
	text-shadow: 1px 1px 1px black;
	text-decoration: none;
	font-size: 16px;
}

#nav .current a {
	text-decoration: underline;
}

/* headings
----------------------------------*/

h1, h2, h3, h4{
	font-family: Calibri, Arial, Helvetica, sans-serif;
	color: #333;
}

h1 {
	margin-bottom: 1em;
	letter-spacing: -0.03em;
}


/* Content
----------------------------------*/

#content {
	float: left;
	width: 70%;
}

#content ul {
	margin-left: 1.5em;
}

#content h2 {
	margin: 20px 0;
}

#content h3 {
	margin: 0 0 14px 0;
}

#content img{
	max-width: 100%;
}

.section {
	margin-bottom: 1.5em;
}

/* Sidebar (menus)
----------------------------------*/

#sidebar {
	float: right;
	width: 28%;
}

#sidebar li{
	border-bottom: 1px solid #eee;
	padding: 4px;
	list-style: circle inside;
	font-size: 12px;
}

.nested_menu li ul {
	margin-left: 1em;
}

.nested_menu {
	margin-left: 1.5em;
}

.nested_menu a.current {
	font-weight: bold;
	color: black;
}



/* tables
----------------------------------*/

.list {
	width: 100%;
}

.list th,
.list td {
	padding : .2em 1em;
	border-bottom: solid silver 1px;
}

/* images
----------------------------------*/

img.left {
	float: left;
	margin: 1em 1em 0 0;
}

img.right {
	float: right;
	margin: 1em 0 0 1em;
}

/* Sreencasts
----------------------------------*/

ul.grid {
	list-style-type: none;
	margin:0;
	padding:0;
	margin-top: 1em;
}

.grid .grid_thumb {
	float: left;
	margin: 0 2em 2em 0;
}

.grid_thumb {
	padding: 1em;
	border: solid silver 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}

.grid_thumb:hover {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.grid_thumb img {
	border: solid silver 1px;
	padding: 2px;
}

.grid_thumb a {
  text-decoration: none;
  color: #134B99;
  display: block;
}

.grid_thumb strong {
	display: block;
	width: 206px;
	height: 33px;
}

.single_thumb {
	display: inline-block;
}

/* disqus comments
---------------------------------------*/
#comments {
  margin-top: 2em;
  border-top: solid gray 3px;
  padding-top: 2em;
}
/* hacks */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}
