body {
  background: #fff;
}

#main {
  margin-bottom: 60px;
}

#start .span4 {
  margin-left: 18px;
}

#start .span4:hover {
  background-color: #fff;
}

#start .pad {
  padding: 10px 15px;
}

#start .pad i {
  font-size: 8em;
  text-align: center;
  display: block;
  margin-top: 10px;
}

#start h2 {
  font-size: 23px !important;
  margin: 10px 0 !important;
  border: 0 !important;
}

/* images
----------------------------*/
img.right {
  margin: 0 0 0 1em;
}

/* content
----------------------------*/

#content h1 ,
#content h2 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  line-height: 120%;
  /*font-weight: 300;*/
  letter-spacing: -0.05em;
}

#content h1 {
  font-size: 34px;
  margin-bottom: 25px;
  font-family: 'Open Sans', "Helvetica Neue",Helvetica,Arial;
  font-weight:300;
  text-transform:uppercase;
  letter-spacing:1px;
}

#content h2 {
  font-size: 22px;
  margin: 40px 20px 10px 0;
  padding-bottom: 5px;
  letter-spacing:1px;
  color:#888;
  line-height:1.5em;
}

#content h3 {
  margin: 30px 20px 10px 0;
  font-size:15px;
  font-weight:normal;
  color:#535353;
  text-transform:uppercase;
  letter-spacing:1px;
}

#content ol,
#content ul {
  margin: 20px 30px;
}
#content ul {
  list-style: disc ;
}

#content ol {
  list-style: decimal;
}

#content li {
  padding: 2px 0px 10px 0px;
}

#content strong {
    font-weight:bold !important;
}

#content pre, #content code {
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
}

#content pre {margin-bottom:30px !important;}

#content blockquote p {
    color:#666;
    font-style:italic;
}

.captura {
  border: 1px solid #999;
  margin: 20px 0 40px;
  text-align: center;
}
.image_and_detail {
  margin-bottom: 20px;
}
.image_and_detail .image_left {
  margin-right: 10px;
  float: left;
}
.image_and_detail .image_right {
  margin-right: 10px;
  float: right;
}
.image_and_detail .detail {
  text-align: justify;
}

.c-pie {
  font-size: 1em;
  color: #666;
  font-style: italic;
  border-top: 1px solid #999;
  background: #f2f2f2;
  padding: 10px;
}

#content p, #content li, #content div {
    font-weight: normal;
    line-height: 1.66666667;
    font-size:17px;
    color:#000;
}
#content p {
    padding-bottom:10px;
}
#content code, #content pre {
    white-space: pre;
    margin: 0;
    font: 14px/1.8em Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    padding: 4px 6px;
    -webkit-border-radius:  5px 5px 0 0;
    -moz-border-radius:  5px 5px 0 0;
    border-radius:  5px 5px 0 0;
}

ul li ul li {
    margin-left: 20px;
    line-height: 20px !important;
}

#content #start {
    font-size:.8em;
}

/* Nested sidebar menu
----------------------------*/

#sidebar {
  margin-bottom: 50px;
}

@media (min-width: 978px) {

  #sidebar {
    width: 210px;
    margin-right: 10px;
  }

}

#sidebar .toggle-menu {
  border: 1px solid #ccc;
  background: #f2f2f2;
  padding: 8px 10px;
  margin-bottom: 20px;
}

#sidebar li {
  list-style: none;
  padding: 8px 10px;
  border-top: 1px solid #ddd;
  font-size: 16px;
}


#sidebar li:first-child {
  border-top-width: 0;
}

#sidebar li a {
  color: #666;
}

#sidebar .depth_1 ul {
  display: none;
}

#sidebar .in_path.depth_1 > ul,
#sidebar .in_path.depth_2 > ul,
#sidebar .current.depth_1 > ul,
#sidebar .current.depth_2 > ul {
  display: block;
  margin-top: 8px;
  margin-bottom: -8px;
}

#sidebar .current > a {
  font-weight: bold;
  color: #111;
}

/* Title bar
Show big version only on homepage
----------------------------------------*/

.title {
  margin: 0 0 20px 0;
  padding: 10px 0;
}

.title .title_info { display: none; }
.es .title,
.en .title {
  margin: 40px auto 30px;
  padding: 20px 0 50px;
}

.es .title .title_info,
.en .title .title_info { display: block; }

#search_form {
  margin-bottom: 0;
}

/* Search results
----------------------------*/

.es #search_form,
.en #search_form {
  margin-top: 30px;
}

#search_form input {
  width: 60%;
  padding: 10px;
  margin-bottom: 0;
}

#search_form button {
  padding: 10px 30px;
}

#search_box {
  text-align: left;
  margin: 20px 0 0;
}

#results {
  list-style-type: none;
  background: rgba(255,255,255,0.8)
}

#results p {
  max-width: none;
  font-size: 1em;
}

#results li {
  padding: 0.25em 1em;
}

#results li:hover,
#results li.hover {
  background: white;
}

/* Media items, shop screenshots
----------------------------*/
#content .media_items {
  list-style-type: none;
  margin: 0;padding: 0;
}

#content .media_item {
  padding: 0;
  margin-bottom: 20px;
}

#content .media_item .thumbnail,
#content .media_item .info {
  float: left;
}

#content .media_item .thumbnail { border-width: 0; }
#content .media_item .thumbnail:hover {box-shadow: none;}
#content .media_item .info {
  width: 410px;
  margin-left: 18px;
  background:none;
}

#content .media_item h3 {
  margin: 0 0 1em 0;
}

#content .media_item .info ul {
  margin: 0 0 20px 0;
  padding: 0;
}

#content .media_item .info li {
  font-size: 0.8em;
  line-height: 1;
}

#comments {
  margin-top: 40px;
  border-top: solid silver 1px;
  padding-top: 20px;
}

.note {
  margin:20px 0;
  padding:10px;
}

.alert > strong:first-child {
  font-weight:bold;
  text-transform:uppercase;
}

.note {
    position:relative;
    margin:30px 0;
    padding:20px 20px 20px;
    border-radius:5px;
    padding-left:70px;
    color:white !important;
}
.note strong {
    color:#EFEEF0;
    font-weight:bold;
}
.note p, .note li {
    color:white !important;
}
.note a {
    color:#eee;
    text-decoration:underline;
}
.note h5 {
    color:white !important;
    font-size:20px;
    font-weight:bold ;
}
.note:after {
    content:"";
    width:45px;
    height:45px;
    line-height:30px;
    position:absolute;
    top:27px;
    left:15px;
}

.info {
    background: rgba(102,174,242,1);
    background: -moz-linear-gradient(top, rgba(102,174,242,1) 0%, rgba(7,59,115,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(102,174,242,1)), color-stop(100%, rgba(7,59,115,1)));
    background: -webkit-linear-gradient(top, rgba(102,174,242,1) 0%, rgba(7,59,115,1) 100%);
    background: -o-linear-gradient(top, rgba(102,174,242,1) 0%, rgba(7,59,115,1) 100%);
    background: -ms-linear-gradient(top, rgba(102,174,242,1) 0%, rgba(7,59,115,1) 100%);
    background: linear-gradient(to bottom, rgba(102,174,242,1) 0%, rgba(7,59,115,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66aef2', endColorstr='#073b73', GradientType=0 );
}
.info:after{
    background:url('/img/ico-info.png') no-repeat;
}

#content .tip h3 {
    margin-top:10px;
}

#content .tip {
  background: rgba(126,109,66,1);
  background: -moz-linear-gradient(top, rgba(126,109,66,1) 0%, rgba(92,78,53,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(126,109,66,1)), color-stop(100%, rgba(92,78,53,1)));
  background: -webkit-linear-gradient(top, rgba(126,109,66,1) 0%, rgba(92,78,53,1) 100%);
  background: -o-linear-gradient(top, rgba(126,109,66,1) 0%, rgba(92,78,53,1) 100%);
  background: -ms-linear-gradient(top, rgba(126,109,66,1) 0%, rgba(92,78,53,1) 100%);
  background: linear-gradient(to bottom, rgba(126,109,66,1) 0%, rgba(92,78,53,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e6d42', endColorstr='#5c4e35', GradientType=0 );
}

.tip:after{
    background:url('/img/ico-tip.png') no-repeat;
}
.warning {
    background: rgba(158,39,18,1);
    background: -moz-linear-gradient(top, rgba(158,39,18,1) 0%, rgba(111,13,13,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(158,39,18,1)), color-stop(100%, rgba(111,13,13,1)));
    background: -webkit-linear-gradient(top, rgba(158,39,18,1) 0%, rgba(111,13,13,1) 100%);
    background: -o-linear-gradient(top, rgba(158,39,18,1) 0%, rgba(111,13,13,1) 100%);
    background: -ms-linear-gradient(top, rgba(158,39,18,1) 0%, rgba(111,13,13,1) 100%);
    background: linear-gradient(to bottom, rgba(158,39,18,1) 0%, rgba(111,13,13,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2712', endColorstr='#6f0d0d', GradientType=0 );
}
.warning:after{
    background:url('/img/ico-warning.png') no-repeat;
}

#mini-site-map {
    margin:40px 0 10px 0;
}

#mini-site-map ul {
    margin:0;
    padding:0;
}
#mini-site-map li {
    list-style-type:none;
    display:inline;
}
#mini-site-map li a {
    display:inline-box;
    margin-right:15px;
}
#mini-site-map {
    text-align:center;
}

#content .tip code,
#content .warning code,
#content .info code {
    color:white;
    background-color:transparent;
    border:none;
}
.msg-tpl {border:3px dashed #22D7CC;padding:10px}
.msg-tpl p {font-size:14px !important}

/* ocultar el menú lateral para la seccion /wiki */
body[class^='es_general'] #sidebar {
  display:none;
}

.label-order {color:white;padding:3px;border-radius:5px}
.label-pending {background-color:#fc0}
.label-invalid {background-color:#d74815}
.label-closed{background-color:#aecf47}
.label-shipped{background-color:#008AB1}
.label-delivered{background-color:#004a5f}
.label-successful {background-color:#53D4B2}

.more-at-the-bottom {
  text-align: center;
  background: #eee;
  padding: 1em;
}

/* sep 2018 - home refresh */
#start div {
  text-align:center;
}
#start h2 {
  font-size:18px !important;
  margin-bottom: 50px !important;
}
