a {
  color: #6950c5;
}

a:hover {
  color: #ea434a
}

#sidebar a {
  font-weight: 400;
}

#nav .navbar {
  border: none;
}

#search-bar {
  /*background: #ad94ff;*/
  background: #f8f6ff;
  border-top: 2px solid #333;
  border-bottom: 1px solid #e8e1ff;
}

#search-bar input {
  margin-bottom: 0;
}

#search-bar input:focus {
  border-color: #ad94ff;
}

#search_box {
  background: #d5c9ff;
}

#search_box .container {
  padding: 0;
}

#search_box ul {
  margin-bottom: 0;
}

#search_box li {
  margin: 0;
  padding: 5px 15px;
  list-style: none;
}

#search_box li:hover {
  background-color: #fff;
}

#search_box .result_desc {
  margin-bottom: 0;
}

#content {
  padding: 50px 0 ;
}

#sidebar {
  padding: 50px 0;
}

#sidebar ul.depth_2 {
  display: none;
}

#sidebar .current ul.depth_2,
#sidebar .in_path ul.depth_2 {
  display: block;
  border-left: 1px solid #ccc;
  padding: 3px 0 3px 12px;
  margin: 0;
}

#sidebar .current ul.number_0,
#sidebar .in_path ul.number_0 {
  margin-top: 15px
}

#sidebar li {
  list-style: none;
}

#content h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
.side_menu li {
  float: left;
  list-style: circle inside;
  margin-right: 20px;
}
*/

#content ol,
#content ul {
  margin-left: 15px;
}

#content li {
  list-style-position: outside;
}

.captura { 
  background: white;
  border:1px solid #ddd;
  margin: 20px 0 40px;
  margin: 20px 0;
  padding: 5px; 
  text-align: center;
}

.captura .c-contenido {
  text-align:center;
}

.captura .c-contenido img {
  margin:0 auto;
}

.captura .c-pie {
  background-color:#eee;
  color:#333;
  font-family:normal Georgia, "time new roman";
  font-style:italic 
  padding:10px;
}


.captura img {
  display: block;
}

.c-pie {
  font-size: 1em;
  color: #666;
  font-style: italic;
  border-top: 1px solid #ccc;
  background: #f6f6f6;
  padding: 10px;
}

.note {
  margin: 30px 0;
  padding: 20px 20px 20px 30px;
}

.note p {
  margin-bottom: 0;
}

.note strong {
  font-weight:bold;
}

.note a {
  text-decoration:underline;
}

.note h5 {
  font-size:20px;
  font-weight:bold;
}

.warning {
  border-left: 5px solid red;
  background-color: #eb1c1c1a;
}

.info {
  border-left: 5px solid #2b89e2;
  background-color: #cfe8ff;
}

.note {
  border-left: 5px solid #c89309c7;;
  background-color: #ffd66e4f;
}

.media_items {
}

.media_item {
  margin-bottom: 40px;
  list-style-type: none;
}

.media_items .thumbnail {
  display: block;
  float: left;
}

.media_items .info {
  margin-left: 280px;
  background-color: transparent;
  border-left: none;
}

.msg-tpl {
  background-color: #00adff0d;
  border: 3px dotted #15a9ec;
  padding:10px;
}

/* video tutorial */

.video--grid {

}

.video--item {
  background-color:#9e83f3;
  display: flex;
  flex-direction: column;
  align-content:space-around;
}

.video--link {
  display: block;
  color:white;
  height:210px;
  text-decoration: none;
}

.video--link:hover {
  color: white;
}
.video--label {
  padding:1rem;
  font-size:2.333rem;
  line-height:1.2;
  font-weight:400;
  text-align: center;
}

.video--meta {
  align-self: flex-end;
  padding-right: 1rem;
  color:white;
  font-weight: bold;

}

.tingle-modal-box {
  background: #000 !important;
}

.tingle-modal-box__content {
  padding: 0 !important;
}



.h-c-video__play {
    left: 55%;
    height: 90px;
    margin: -30px -42px 0;
    position: absolute;
    top: 50%;
    width: 84px;
    z-index: 15
}

.h-c-icon--color-white {
    fill: #fff;
}

